.input-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.button-add {
    background-color: #FA6C6E;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    height: 40px;
    width: 80px;
}

.task-input {
  border: none;
  border-radius: 12px;
  height: 40px;
  padding: 0 12px;
  width: 240px;
}

.title {
  font-size: 16px;
  font-weight: 700;
}